:root{
  --step--3: clamp(0.53rem, calc(0.55rem + -0.03vw), 0.54rem);
  --step--2: clamp(0.65rem, calc(0.63rem + 0.09vw), 0.70rem);
  --step--1: clamp(0.78rem, calc(0.73rem + 0.27vw), 0.94rem);
  --step-0: clamp(0.94rem, calc(0.83rem + 0.54vw), 1.25rem);
  --step-00: clamp(0.81rem, calc(0.66rem + 0.76vw), 1.25rem);
  --step-1: clamp(1.13rem, calc(0.94rem + 0.94vw), 1.67rem);
  --step-2: clamp(1.35rem, calc(1.05rem + 1.52vw), 2.22rem);
  --step-3: clamp(1.62rem, calc(1.15rem + 2.33vw), 2.96rem);
  --step-4: clamp(1.94rem, calc(1.25rem + 3.48vw), 3.95rem);
  --step-5: clamp(2.33rem, calc(1.31rem + 5.09vw), 5.26rem);
}


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior:smooth !important;
}

body {
	font-family: 'Playfair Display', sans-serif;
	font-size: var(--step-00);
}

header{
	position: relative;
	width: 100%;
	height: 50vw;
	margin: auto;
	top: 0px;
	left: 0px;
	background-image: url(../imagenes/annheader2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	flex-flow: column;
}

.wave_cont{
	position: relative;
	top: 72%;
	width: 100%;
  height: 23%;
  background-image: url(../imagenes/wave6.svg);
  background-size: cover;
  max-width: 	1600px;

}

.ti_h1{
	position: relative;
	top: 80%;
  text-align: right;
  z-index: 	50;
}


.ti_h1 h1{
	padding: 0px 20px;
	font-size: clamp(1.56rem, calc(0.91rem + 3.26vw), 3.44rem);
}

.nav_contenedor{
	width: 100%;
}
	

.nav_ul{
	background-color: #ff9ffbb3;
	font-size: var(--step-1);
	width: 100%;
	height: 50px;
	position: fixed;
	display: flex;
	list-style: none;
	justify-content: space-around;
	margin: auto;
	z-index: 100;
	top: 0px;
	left: 0px;
	max-width: 1600px;
}

.nav_ul a{
	margin: auto;
	font-weight: 600;
	padding: 0px 5px 	;
	text-decoration: none;
	color: #000;
}

.nav_ul li{
	position: relative;
	transition: background-color .7s;
	margin: auto;
	position: relative;
	padding: .5rem;
}

.nav_ul li::after{
	content: "";
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0px;
	left: 0px;
	background-color: #000;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform .2s ease-in;
}

.nav_ul li:hover::after{
	transform: scaleX(1);
	transform-origin: bottom left;
}

.nav_ul li:hover, .nav_ul li:focus-visible{
	
	background: linear-gradient(180deg, #ff8febe8 0%, 
		#ff8feb88 35%, #ff8feb28 100%);
}

.navlogo{
	height: 45px;

}

#icon-menu{
	position: fixed;
	right: 0px;
	top: 0px;
	padding: 10px;
	background: none;
	border-radius: 50%;
	border: none;
	color: #000;
	z-index: 100;
	display: none;
	font-size: var(--step-1);
	align-items: center;
	cursor: pointer;
	margin-right: 15px;
}


.texto p{
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	max-width: 	500px;		
}

.texto{
	width: 100%;
	padding: 20px 0px 20px 20px;
}


.quienes{
	display: flex;
	padding: 50px 0px 50px 50px;
	max-width: 1500px;
	margin: auto;
	scroll-margin-top: 35px;
 }

.quienes h2 , .cursos h2 , .servicios h2, .faqs h2, .contacto h2{
	background-color: #101010;
	color: #fff;
	font-size: var(--step-3);
	padding: 20px;
}

.quienes img, .cursos img, .servicios img{
	width: 60%;
	max-width: 500px;
	object-fit: cover;
}

.cursos{
	display: flex;	
	flex-direction: row-reverse;
	padding: 50px 50px 50px 0px;
	max-width: 1500px;
	margin: auto;
	scroll-margin-top: 35px;
}

.cursos .texto{
	padding: 20px 20px 20px 0px;
}

.servicios{
	display: flex;
	padding: 50px 0px 50px 50px;
	max-width: 1500px;
	margin: auto;
	scroll-margin-top: 35px;
}


.faqs{
	width: 100%;
	display: flex;
	text-align: center;
	padding: 50px 0px 50px 0px;
	max-width: 1500px;
	margin: auto;
	scroll-margin-top: 35px;
}

.faqs .texto{
	width: 100%;
	padding: 0px;
	padding-bottom: 50px;
	margin: auto;
}

.faqs p{
	width: 100%;
	padding: 10px 50px;

}

.faqs h2{
	width: 100%;
	padding: 20px;
}

.contacto{
	width: 95%;
	max-width: 1100px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	grid-gap: 20px;
	margin-top: 25px;
	padding-top: 25px;
	scroll-margin-top: 35px;
}

.contacto .texto{
	background-color: #101010 ;
	border-bottom: solid #FFF 3px;
}

.contacto h2{
	margin-bottom: 15px;
}

.contacto p{
	margin-bottom: 50px;
	padding: 0px;
	color: #FFF;
}

.contacto a{
	display: inline-block;
	text-decoration: none;
	width: 100%;
	padding-bottom: 5px;
	margin: 25px;
	font-weight: 700;
	color: #FFF;
	position: relative;
}

.contacto a::after{
	content: "";
	display: inline-block;
	position: absolute;
	width: 45%;
	height: 5px;
	bottom: 0px;
	left: 0px;
	background-color: #ff9ffb;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform .6s ease-in;
}

.contacto a:hover::after{
	transform: scaleX(1);
	transform-origin: bottom left;
}


.contacto i{
	color: #ff9ffb;
	margin-right: 10px;

}


.contacto form .campo, textarea{
	width: 100%;
	padding: 15px 10px;
	font-size: var(--step--1);
	background-color: #ff9ffb;
	border: 1px solid #000;
	margin-top: 50px;
	border-radius: 3px;
	outline: 0px;
}

.contacto form textarea{
	max-width: 530px;
	min-width: 300px;
	max-height: 150px;
	min-height: 80px;
}
.contacto .btn-enviar{
	padding: 15px;
	margin: 10px 0px;
	font-size: var(--step--1);
	border: none;
	float: right;
	outline: 0px;
	background-color: #101010;
	color: #FFF;
	border-radius: 3px;
	cursor: pointer;

}

.btn-enviar:{

}

.foot_contenedor{
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: #101010;
}

.foot_contenedor h2{
	color: #fFFFFF;
	font-size: var(--step-2);
}

.social{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.social a{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	padding: .2rem max(.2rem, 1%);
	position: relative;
	justify-content: space-around;
	font-size: clamp(0.47rem, calc(0.20rem + 1.36vw), 1.25rem);
	color: #fff;

}
.social a::after{
	content: "";
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0px;
	left: 0px;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform .6s ease-in;
}

.social a:hover::after{
	transform: scaleX(1);
	transform-origin: bottom left;
}

.social i{
	margin-right: .1rem;
	color: #fff;
	font-size: clamp(0.56rem, calc(0.18rem + 1.92vw), 1.67rem);
}

.aviso{
 	display: flex;
	width: 100%;
	background-color: #ffc0cb;
	justify-content: center;
	align-items: center;
}

.aviso a{
	text-decoration: none;
	padding: 3px;
	font-size: var(--step--1);
	color: #000;
	
}

/* Responsive desing mobil */
@media screen and (min-width: 1450px){

	body{
		max-width: 1600px;
		margin: auto;
	}

	.nav_ul {
			left: unset;
	}

	header	{
    max-width: 1600px;
    max-height: 900px;
  }
}



@media screen and (max-width: 800px){

	.nav_ul{
	width: 100%;
	height: 100vh;
	top: calc(var(--step-2) + 10px);
	left: 100%;
	z-index: 99;
	background-color: #ff9ffbf5;
	overflow: hidden;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	display: flex;
	font-size: var(--step-2);
	transition: left .3s;
	}

	#icon-menu{
		display: flex;
		background-color: #ff9ffbf5;
	}

	.nav_ul_open{
		left: 0px;
	
	}

	.nav_ul_open li{
		max-width: 250px;
		margin: 25px 0px;
		text-align: center;
	}

	.nav_ul_open:focus:not(:focus-viseble){
		outline: none;
	}

	.ti_h1 {
	width: 100%;
	background-color: #ff9ffbf5;
	position: fixed;
	z-index: 100;
	text-align: unset;
	margin: auto;
	top: 0px;
	}

	.ti_h1 h1{
		font-size: var(--step-2);
		margin: auto;
		padding: 5px;
		margin-left: 20px;
	}

	.wave_cont {
    top: 80%;
  }

	.texto{
		padding: 5px;
	}

	.texto p{
		padding: 5px;
		margin: 	auto;
	}

	.texto h2{
		padding: 10px;
	}

	.servicios, .cursos, .quienes, .faqs{
		padding: 20px;
		flex-wrap: wrap-reverse;
		justify-content: center;
	}


@media screen and (max-width: 600px){

	.servicios, .cursos, .quienes, .faqs{
		padding: 10px;
	}
